*{
    font-family: Arial, Helvetica, sans-serif;
    margin:2px;
}

.navbar
{ 
    height:90px; 
    background-color:#ffffff;
    color:#947b3f;
    display:flex;
    justify-content: space-evenly;
}
.nav-logo.border{
    height: 100px;
    width:160px;
}
.logo{
    background-image: url("ISTE.png");
    background-size:cover;
    height: 90px;
    width: 120%;
   
}
.border{
    border:2px solid transparent;

}

.border:hover{
    border: 3px solid rgb(37, 34, 34);
}
a{
    text-decoration: none;
    color:rgb(27, 21, 21);
}
a:hover{
    color:#D5B263;
}

footer{
    height:60px;  
    background-color: #ffffff;
    color:#4d3f20;
    font-size: 15px;
    text-align: center;
   text-transform: capitalize;
   position: relative;
  } 
